# Ignore virtual environment
venv/

# Ignore model weights
*.pth

# Ignore temporary and output files
*.jpg
*.jpeg
*.zip
*.pdf

# Ignore all PNGs by default
*.png

# But don't ignore assets folder
!assets/
!assets/*.png


# Ignore Python cache
__pycache__/
*.pyc

# Ignore training scripts
train.py
predict.py